<!DOCTYPE html>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>BeNest Timecard</title>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css" />
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
<div data-role="page" data-theme="b">
    <div data-role="header"><h1><%= date %></h1></div>
    <div data-role="content">
        <form action="/">
            <label for="clock_in">出勤時刻</label>
            <input id="clock_in" type="time" name="clock_in" value="09:00">
            <label for="clock_out">退勤時刻</label>
            <input id="clock_out" type="time" name="clock_out" value="18:00">
            <label for="overtime">残業</label>
            <input id="overtime" type="time" name="overtime" value="00:00" step="1800">
            <label for="latenight">深夜</label>
            <input id="latenight" type="time" name="latenight" value="00:00" step="1800">
            <label for="holiday">休日</label>
            <input id="holiday" type="time" name="holiday" value="00:00" step="1800">
            <label for="subtract">控除</label>
            <input id="subtract" type="time" name="subtract" value="00:00" step="1800">
            <button id="btn_entry">登録</button>
        </form>
    </div>
</div>
